* {
    box-sizing: border-box;
}

nav {
    background-color: #b4780c;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-link {
    color: white;
    font-weight: 700;
}

.outer-container {
    padding: 0 15px;
}

